


/* Clear floats after the columns */
.row{
    content: "";
    clear: both;
    margin-right: 5%;
    height: 100%;
}

.column{
    float: left;
    padding: 10px;
}

/* Middle column */
.middle {
    width: 60%;
    height: 100%;
    margin-left: 10%;
}

/* Left and right column */
.right { 
    width: 25%;
    height: 100%;
}

.mainDivYT{
    height: 100%;
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .column {
      width: 100%;
    }
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .middle {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
}