/*So this parent element take the whole height of the view-port*/
html{
  height: 100%;
}

/*So for example, the nav bar do not have space with the top of the page*/
body {
    margin: 0;
}

/*Background color to all the App*/
body{
    background: #f2f2f2;
}

/*The CSS box-sizing property allows us to include the padding and border in an element's total width and height.*/
/*Apply to all elements*/
* {
    box-sizing: border-box;
  }